dialog:modal {
    max-width: 100vw;
    max-height: 100vh;
}

::backdrop {
    /* background-color: white; */
}

#contact_modal {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(209, 209, 209, 0.5);
    padding-top: 12px;
    border: none;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    margin-bottom: 45px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.fa-heart:hover {
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 3.5em;
    font-weight: normal;
}

.modal header img {
    cursor: pointer;
}

.modal .header_title {
    display: flex;
    font-size: 3.5em;
    font-weight: normal;
    width: 100%;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    resize: none;
}

/*
*
*   Lightbox Modal
*
*/
#lightbox_modal {
    /* display: none; */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255);
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    border: none;
}

#lightbox_modal[open]:not(:focus-within) {
    background-color: rgba(255, 255, 254);
    transition: background-color 0.01s; 
}

.display_modal {
    position: relative;
    height: 90%;
}

.display_modal button {
    border: none;
    background-color: white;
}

button i {
    color: #901C1C;
    font-size: 3.0em;
}

.display_modal .close {
    position: absolute;
    right: 250px;
    top: 10px;
    color: #901C1C;
    font-size: 3.0em;
    z-index: 1000;
    cursor: pointer;
}

.lightbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.lightbox_container .title_card {
    color: #901C1C;
    font-size: 1.5em;
    margin-top: 20px;
}

.lightbox_container .chevron {
    cursor: pointer;
    padding: 50px 100px;
}

.image_lightbox_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.image_lightbox_container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.image_lightbox_container {
    height: 100%;
    width: 1000px;
    cursor: pointer;
}

.card_container {
    margin: 40px;
    height: 100%;
    width: 1000px;
}